# Your deployer wallet private key
# Get a new wallet: run "cast wallet new" in terminal
PRIVATE_KEY=0x33d8bb82f3a0c13ac0763b743a290e7b504b1a12f8b1d17a5cda131fa396a12b

# Get from celoscan.io → API Keys (free account)
CELOSCAN_API_KEY=EZCSD5W9K2VBN5B7HJ5EZ41XEX16Q86NCV
